<html>
    <head>
        <title>Parafraaa Music</title>
        <meta charset="utf-8">


     <!--Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

      <!--Need to always be placed after the CDN -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/entryPage.css">
     
    </head>
    
    <body>





<!--///////////////////////////////////-->

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="midcontent">

            <h1>Parafraaa Sneakers Marketplace</h1>
            <h3>The largest music merchandise marketplace</h3>
            <hr>

            <button class="btn btn-default btn-lg"><a href="/items">Lets Start!</a></button>
            <!--<a href="/items" class="btn btn-default btn-lg" role="button">Link Button</a>-->

          </div>
        </div>
      </div>
    </div>




<% include ../partials/footer %>
